body {
    background-color:black;
    font-family: 'Hind', sans-serif;
    color:blue;
}
.primersection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    border-style: double;
    text-decoration: none;
    align-items: center;

}
.primersection ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: white;
    align-items: center;
    padding-inline-start: 0px;
}
.primersection li {
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: #ffffff;
}
.primersection a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

.banner {
    border-style: double;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 15px;
}
p {
    color: azure;
}

.peliculas{
    display: flex;
    align-items: flex-start;
    border-style: double;
    font-size: 22px;
}

.series{
    display: flex;
    align-items: flex-start;
    border-style: double;
    font-size: 22px;
}

.footer ul{
    
    justify-content: space-evenly;
    color: azure;
    list-style: none;
    font-family: 'Solway', serif;
    
}
