body {
    background-color:black;
    font-family: 'Hind', sans-serif;
    color:rgb(81, 113, 255);;
}
.primersection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    border-style: double;
    text-decoration: none;
    align-items: center;

}

.primersection ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: white;
    align-items: center;
    padding-inline-start: 0px;
}

.primersection li {
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: #ffffff;
}

.primersection a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

.banner {
    border-style: double;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 15px;
}
p {
    color: azure;
}

.romanticas{
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.romanticas p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

.accion{
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.accion p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

.terror{
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between; 
}

.terror p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

.footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Hind', sans-serif;
    color: lightgrey;

}

.footer li{
    color: lightslategray;
    font-size: small;
}

@media only screen and (min-width : 420px) and (orientation: landscape){
    body {
        background-color:black;
        font-family: 'Hind', sans-serif;
        color:blue;
    }
    .primersection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;
        border-style: double;
        text-decoration: none;
        align-items: center;
    
    }
    
    .primersection ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        color: white;
        align-items: center;
        padding-inline-start: 0px;
    }
    
    .primersection li {
        padding-right: 15px;
        padding-left: 15px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .primersection a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    h1 {
        font-size: 24px;
    }
    
    .banner {
        border-style: double;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 15px;
    }
    p {
        color: azure;
    }
    
    .romanticas{
        display: flex;
        align-items: flex-start;
        font-size: 22px;
        justify-content: space-between;
    }
    
    .romanticas p{
        display: flex;
        align-items: flex-start;
        justify-content: center;  
        font-size: medium;
    }
    
    .accion{
        display: flex;
        align-items: flex-start;
        font-size: 22px;
        justify-content: space-between;
    }
    
    .accion p{
        display: flex;
        align-items: flex-start;
        justify-content: center;  
        font-size: medium;
    }
    
    .terror{
        display: flex;
        align-items: flex-start;
        font-size: 22px;
        justify-content: space-between; 
    }
    
    .terror p{
        display: flex;
        align-items: flex-start;
        justify-content: center;  
        font-size: medium;
    }
    
    .footer ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-family: 'Hind', sans-serif;
        color: lightgrey;
    
    }
    
    .footer li{
        color: lightslategray;
        font-size: small;
    }
}