body {
    background-color: rgb(27, 36, 45);
}

.primersection {
    display: flex;
    color: rgb(253, 207, 101);
    border-style: double;
}
  
nav a{
    display: flex;
    justify-content: flex-end;
    color: azure;
    text-decoration: none;
    padding: 10px;
    
}


.banner{
    display: flex;
    align-items: flex-start;
    color: rgb(253, 207, 101);
    border-style: double;
    font-size: 22px;

} 

.peliculas{
    display: flex;
    align-items: flex-start;
    color: rgb(253, 207, 101);
    border-style: double;
    font-family: 'Solway', serif;
    font-size: 22px;
}

.series{
    display: flex;
    align-items: flex-start;
    color: rgb(253, 207, 101);
    border-style: double;
    font-family: 'Solway', serif;
    font-size: 22px;
}

.mas-vistos{
    display: flex;
    align-items: flex-start;
    color: rgb(253, 207, 101);
    border-style: double;
    font-family: 'Solway', serif;
    font-size: 22px;
}

.footer{
    display: flex;
    align-items: flex-start;
    color: rgb(253, 207, 101);
    border-style: double;
    font-family: 'Solway', serif;
}


.banner ul{
    list-style: none;
}

.peliculas ul{
    list-style: none;
}

.series ul{
    list-style: none;
}

.mas-vistos ul{
    list-style: none;
}