
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

/* estilo de navegacion */
.fondopeliculas {
  background-color: rgb(245, 241, 241);
  height: 355px;
}

.pelis li img {
  width: 240px;
  height: 340px;
  padding-top: 10px;
  margin-left: 55px;

}

.titulopeliculas {
  color: rgb(128, 124, 124) !important;
  font-size: 20px !important;
  margin-top: 20px !important;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

.fondoseries {
  background-color: rgb(245, 241, 241);
  height: 355px;
}

.series li img {
  width: 240px;
  height: 340px;
  padding-top: 10px;
  margin-left: 55px;
}

.tituloseries {
  color: rgb(128, 124, 124) !important;
  font-size: 20px !important;
  margin-top: 20px !important;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

.fondomasvistos {
  background-color: rgb(245, 241, 241);
  height: 355px;
}

.masvistos li img {
  width: 240px;
  height: 340px;
  padding-top: 10px;
  margin-left: 55px;
}

.titulomasvistos {
  color: rgb(128, 124, 124) !important;
  font-size: 20px !important;
  margin-top: 20px !important;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

/* estilo de navegacion */
header {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 999;
  /* para que este arriba de todo */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Izquierda */
header .izquierda_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  flex-wrap: wrap;
}

header .a_logo {
  width: 20%;
  margin: 2%;
}

header .a_logo .logo {
  opacity: 1;
  width: 100%;
}

header .izquierda_header nav ul li:hover a {
  color:rgb(81, 113, 255);
  text-decoration: none;
  font-weight: bold;
}

#nav-toggle {
  display: none;
  text-decoration: none;
}

.izquierda_header ul {
  display: flex;
}

.izquierda_header ul li {
  margin-left: 1em;
}

.izquierda_header ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
}

/* Derecha */
header .derecha_header {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  align-items: center;
}

/* << BARRA DE BUSQUEDA >> */
header .uk-navbar-container {
  border-radius: 17px;
  width: 50%;
  margin-bottom: 4%;
}

header .uk-search-input {
  width: 71%;
  ;
}

.derecha_header nav .conenedor_buscador form {
  width: 200px;
  /* achico el width de 400 a 200 porque interferia con el hover de Avanzada */
}

.derecha_header nav .conenedor_buscador form input {
  border-radius: 17px;
  font-size: 1.4rem;
}

/* modal BUSQUEDA*/


body {
    background-color:black;
    font-family: 'Hind', sans-serif;
    color: rgb(81, 113, 255);
    padding: 15px;

}

.primersection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    border-style: double;
    text-decoration: none;
    align-items: center;
}
.primersection ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: white;
    align-items: center;
    padding-inline-start: 0px;
    padding-right: 15px;
}
.primersection li {
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
}
.primersection a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

.banner {
    border-style: none;
    display: flex;  
    align-items: flex-start;
    font-size: 22px;
}

/* << BARRA DE BUSQUEDA >> */
header .uk-navbar-container {
    border-radius: 17px;
    width: 50%;
    margin-bottom: 4%;
  }
  
  header .uk-search-input {
    width: 71%;
    ;
  }
  
  .derecha_header nav .conenedor_buscador form {
    width: 200px;
    /* achico el width de 400 a 200 porque interferia con el hover de Avanzada */
  }
  
  .derecha_header nav .conenedor_buscador form input {
    border-radius: 17px;
    font-size: 1.4rem;
  }

  


.banner ul {
    list-style: none;
}
.botones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
}
.Reproducir {
    background-color: white;
    border: none;
    color: blanco;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
  
.Vertrailer {
    background-color: white;
    border: none;
    color: blanco;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    padding-left: 25px;
    padding-right: 25px;

}

h2 {
    font-size: 22px;
}

h3 {

    font-size: 15px;   

}
p {
    color: azure;
}
.peliculas{
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.peliculas p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;

}

.series {
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.series p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

.masvistos {
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.masvistos p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium
}

/*
.footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Hind', sans-serif;
    color: lightgrey;

}

.footer li{
    color: lightslategray;
    font-size: small;
}
/*


/* ---------- FOOTER ---------- */
footer {
    width: 100%;
    background: gray;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  footer .DB {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 0.8rem;
    margin: 2%;
  }
  
  footer #logo {
    width: 40%;
    margin-top: 5%;
  }
  
  footer .redes {
    margin: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  footer div a {
    color: rgba(100, 100, 100, 0.8);
    font-size: 1.1rem;
  }
  
  footer .contacto p {
    color: rgba(100, 100, 100, 0.8);
    font-size: 1.1rem;
  }
  
  /* hover */
  footer a:hover {
    color: red;
    text-decoration: none;
  }
  
  footer .contacto {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 20%;
  }
  
  footer .contacto p {
    color: rgba(100, 100, 100, 0.8);
  }
  
  footer .redes h2, .contacto h2 {
    color: rgba(250, 250, 250, 0.67)
  }

 
  







@media only screen and (max-width : 420px) and (orientation: portrait){
    body{
        padding: 0px
    }
    .logo{
        width: 130px;
        height: 120px;
        padding: 2px;
        display: flex;
        align-items: center ;
    }
    .navegacion {
        margin: 0%;
        width: 250px;
        height: 85px;
        display: flex;
        margin: 0%;
        flex-direction: column;
        align-items: center;
        border-style: none;
    }
    .busqueda {
        display: flex;
        align-items: center;
        
    }
    .navegacion img{
        width: 30px;
    }
    .primersection ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        color: white;
        align-items: center;
        padding-inline-start: 0px;
        height: fit-content;
        font-size: 10px;
        padding-top: 8px;
    }
    .primersection li {
        padding-right: 5px;
        padding-left: 5px;
    }

    h1 {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }

    .banner {
        display: flex;
        justify-content: center;
        border-style: none; 
        flex-direction: column;
    }
    .banner img{
        display: flex;
        justify-content: center;
        width: 350px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .botones {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0%;
    }

    h2 {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
    .banner p{   
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 15px;
    text-align: justify;

    }
    .banner ul{
        padding-left: 15px;
        padding-right: 15px;
    }
    .pelis {
        display: flex;
        justify-content: center;
        border-style: double;
        text-align: center;
        font-size: 22px;
    }
    .peliculas img{
        width: 200px;
        justify-content: space-between;
    }
    .peliculas {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .series1 {
        display: flex;
        justify-content: center;
        border-style: double;
        text-align: center;
        font-size: 22px;
    }
    .series img{
        width: 200px;
        justify-content: space-between;
    }
    .series {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .vistos {
        display: flex;
        justify-content: center;
        border-style: double;
        text-align: center;
        font-size: 22px;
    }
    .masvistos img{
        width: 200px;
        justify-content: space-between;
    }
    .masvistos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}