body {
    background-color:black;
    font-family: 'Hind', sans-serif;
    color: rgb(81, 113, 255);

}

.primersection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-style: double;
    align-items: center;
}
.primersection ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    align-items: center;
    padding-inline-start: 0px;
}
.primersection li {
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
}
.primersection a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

.banner{
    display: flex;
    align-items: flex-start;
    border-style: double;
    font-size: 22px;
} 

.banner {
    border-style: double;
}
.banner ul {
    list-style: none;
}
.Reproducir {
    background-color: white;
    border: none;
    color: blanco;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float:right; margin-right: 65%;
}
 
  
.Vertrailer {
    background-color: white;
    border: none;
    color: blanco;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: right;
}

h2 {
    font-size: 22px;
}

h3 {

    font-size: 15px;   

}
p {
    color: azure;
}
.peliculas{
    display: flex;
    border-color: none;
    align-items: flex-start;
    font-size: 20px;
    justify-content: space-between;

}

.peliculas p{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: medium;

}

.series {
    display: flex;
    align-items: flex-start;
    border-color: none;
    font-size: 20px;
    justify-content: space-between;
}

.series p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

.masvistos {
    display: flex;
    align-items: flex-start;
    border-color: none;
    font-size: 20px;
    justify-content: space-between;
}

.masvistos p{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    font-size: medium; 
}

.footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Hind', sans-serif;
    color: lightgrey;

}

.footer li{
    color: lightslategray;
    font-size: small;
}


@media only screen and (max-width : 420px) and (orientation: portrait){
    .primersection img{
        width: 200px;
        padding: 2px;
    }
    .primersection {
        display: flex;
        border-style: none;
        margin: 0%;
        flex-direction: column;
    }
    .navegacion {
        margin: 0%;
        width: 350px;
        height: 85px;
    }
    .navegacion img{
        width: 30px;
    }
    .primersection li {
        padding-right: 5px;
        padding-left: 5px;
    }

    h1 {
        font-size: 25px;
        text-align: center;
    }

    .banner {
        border-style: none; 
        display: flex;
        flex-direction: column;
    }
    .banner img{
        width: 360px;
        padding-left: 3px;
        padding-right: 3px;
    }
    /*ARREGLAS BOTONES */
    h2 {
        font-size: 25px;
    }
    .banner p{
        width: 300px;
        font-size: 15px;
        text-align: justify;
    }
    .pelis {
        text-align: center;
        font-size: 25px;
    }
    .peliculas img{
        width: 250px;
        justify-content: space-between;
    }
    .peliculas {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .series1 {
        text-align: center;
        font-size: 25px;
    }
    .series img{
        width: 250px;
        justify-content: space-between;
    }
    .series {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .vistos {
        text-align: center;
        font-size: 25px;
    }
    .masvistos img{
        width: 250px;
        justify-content: space-between;
    }
    .masvistos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}