body {
    background-color:black;
    font-family: 'Hind', sans-serif;
    color:rgb(81, 113, 255);
    padding: 15px;
}
.primersection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    border-style: double;
    text-decoration: none;
    align-items: center;

}
.primersection ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: white;
    align-items: center;
    padding-inline-start: 0px;
    padding-right: 15px;
}
.primersection li {
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: #ffffff;
}
.primersection a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
h1 {
    font-size: 24px;
}

.banner {
    border-style: none;
    display: flex;  
    align-items: flex-start;
    font-size: 22px;
}
.banner ul {
    list-style: none;
}
.botones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
}
.Reproducir {
    background-color: white;
    border: none;
    color: blanco;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float: right;
    margin-right: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
  
.Vertrailer {
    background-color: white;
    border: none;
    color: blanco;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    padding-left: 25px;
    padding-right: 25px;

}
h2 {
    font-size: 22px;
}

h3 {
    font-size: 15px;
}
p {
    color: azure;
}
.masvistos{
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.masvistos p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

.populares{
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.populares p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

.parati {
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    justify-content: space-between;
}

.parati p{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    font-size: medium;
}

/*
.footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Hind', sans-serif;
    color: lightgrey;

}
/*

.footer li{
    color: lightslategray;
    font-size: small;
}

/* ---------- FOOTER ---------- */
footer {
    width: 100%;
    background: gray;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  footer .DB {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 0.8rem;
    margin: 2%;
  }
  
  footer #logo {
    width: 40%;
    margin-top: 5%;
  }
  
  footer .redes {
    margin: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  footer div a {
    color: rgba(100, 100, 100, 0.8);
    font-size: 1.1rem;
  }
  
  footer .contacto p {
    color: rgba(100, 100, 100, 0.8);
    font-size: 1.1rem;
  }
  
  /* hover */
  footer a:hover {
    color: red;
    text-decoration: none;
  }
  
  footer .contacto {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 20%;
  }
  
  footer .contacto p {
    color: rgba(100, 100, 100, 0.8);
  }
  
  footer .redes h2, .contacto h2 {
    color: rgba(250, 250, 250, 0.67)
  }


@media only screen and (max-width : 420px) and (orientation: portrait){
    body{
        padding: 0px
    }
    .logo{
        width: 130px;
        height: 120px;
        padding: 2px;
        display: flex;
        align-items: center ;
    }
    .navegacion {
        margin: 0%;
        width: 250px;
        height: 85px;
        display: flex;
        margin: 0%;
        flex-direction: column;
        align-items: center;
        border-style: none;
    }
    .busqueda {
        display: flex;
        align-items: center;
        
    }
    .navegacion img{
        width: 30px;
    }
    .primersection ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        color: white;
        align-items: center;
        padding-inline-start: 0px;
        height: fit-content;
        font-size: 10px;
        padding-top: 8px;
    }
    .primersection li {
        padding-right: 5px;
        padding-left: 5px;
    }

    h1 {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }

    .banner {
        display: flex;
        justify-content: center;
        border-style: none; 
        flex-direction: column;
    }
    .banner img{
        display: flex;
        justify-content: center;
        width: 350px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .botones {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0%;
    }

    h2 {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
    .banner p{   
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 15px;
    text-align: justify;

    }
    .banner ul{
        padding-left: 15px;
        padding-right: 15px;
    }
    .vistos {
        display: flex;
        justify-content: center;
        border-style: double;
        text-align: center;
        font-size: 22px;
    }
    .masvistos img{
        width: 200px;
        justify-content: space-between;
    }
    .masvistos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .popularesenarg {
        display: flex;
        justify-content: center;
        border-style: double;
        text-align: center;
        font-size: 22px;
    }
    .populares img{
        width: 200px;
        justify-content: space-between;
    }
    .populares {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .recomendados {
        display: flex;
        justify-content: center;
        border-style: double;
        text-align: center;
        font-size: 22px;
    }
    .parati img{
        width: 200px;
        justify-content: space-between;
    }
    .parati {
        display: flex;
        align-items: center;
        flex-direction: column;
    }   
}