body {
    background-color: rgb(27, 36, 45);
    font-family: 'Solway', serif;
    color: rgb(253, 207, 101);
}
.primersection {
    display: flex;
    border-style: double;
}
nav a{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding: 10px;
    color: azure;
}

h1 {
    font-size: 24px;
}

.banner {
    border-style: double;
    display: flex;
}

.descripcion {
    border-style: double;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 15px;
}
p {
    color: azure;
}

.reality{
    display: flex;
    align-items: flex-start;
    border-style: double;
    font-size: 22px;
}

.romanticas{
    display: flex;
    align-items: flex-start;
    border-style: double;
    font-size: 22px;
}
.documentales {
    display: flex;
    align-items: flex-start;
    border-style: double;
    font-size: 22px;
}


.footer ul{
    justify-content: space-evenly;
    align-items: center;
    color: azure;
    list-style: none;
    font-family: 'Solway', serif;
    
}
